<ul style="list-style-type:none;">
  <li>
    <div class="well">
      <p>
        {{content}}
        <a href="/tweets/{{id}}" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow" span class="translation_missing" title="translation missing: en.helpers.links.destroy">Destroy</a>
      </p>
      <span data-livestamp="{{created_at}}" style="float:right;">
      </span>
    </div>
  </li>
</ul>